.image_url {
  width: 400px; /* 幅を指定 */
    height: auto; /* 高さを自動調整（アスペクト比を保持） */
}

.image_url img{
    
    padding: 20px;

}

.parent-container {
    display: flex;
    align-items: center; /* 垂直方向に中央揃え */
}

.image {
    width: 30px; /* 画像の幅を指定 */
    height: 30px; /* 画像の高さを指定 */
    overflow: hidden; /* 画像の外部をクリップして円形にする */
    border-radius: 50%; /* 画像を円形にする */
}

.image img {
    width: 100%; /* 画像を親要素に合わせる */
    height: 100%; /* 高さも親要素に合わせる */
    object-fit: cover; /* 画像を親要素に収まるようにオブジェクトを調整 */
    object-position: center; /* 画像の中央に配置 */
    display: block; /* 画像をブロック要素として扱う */
}

.username {
    display: inline-block;
    font-size: 25px; /* ユーザー名のフォントサイズを調整 */
    font-weight: bold; /* ユーザー名の太字設定 */
}

/* いいねボタンのデフォルトスタイル */
.like-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    margin-right: 10px; /* 要素間のスペースを調整 */
    border-bottom: 3px dashed #4d9bc1; /* 下線の高さを調整 */
    margin-bottom: 4px; /* 下線とボタンの間隔を狭める */
   
    
}

.count_goods {
  margin-right: 10px; /* 要素間のスペースを調整 */
  border-bottom: 3px dashed #4d9bc1;
  vertical-align: bottom; 
  padding-bottom: 5px; /* 下線とテキストの間隔を調整 */
}
/* ハートアイコン */
.heart-icon {
    margin-right: 5px;
    margin-bottom: 9px; /* 下線を上にずらす */
}


/* いいねされた状態のスタイル */
.liked .heart-icon {
    color: red; /* いいねがされたときに色を変更する */
}

/* いいねされた状態のテキストスタイル */
.liked .like-text {
    color: red; /* いいねがされたときに色を変更する */
}

.post {
    
    border-top: 1px solid #ddd; /* 上側の境界線 */
    background: linear-gradient(to right, #FFFFCC,#006633 ); /* グラデーション */
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); /* 影 */
    position: relative; /* 相対的な位置指定 */
    padding: 20px; /* 内側の余白 */
    
    
}





.image_url img{
    max-width: 500px;
    padding: 20px;

}

.parent-container {
    display: flex;
    align-items: center; /* 垂直方向に中央揃え */
}

.image {
    width: 30px; /* 画像の幅を指定 */
    height: 30px; /* 画像の高さを指定 */
    overflow: hidden; /* 画像の外部をクリップして円形にする */
    border-radius: 50%; /* 画像を円形にする */
}

.image img {
    width: 100%; /* 画像を親要素に合わせる */
    height: 100%; /* 高さも親要素に合わせる */
    object-fit: cover; /* 画像を親要素に収まるようにオブジェクトを調整 */
    object-position: center; /* 画像の中央に配置 */
    display: block; /* 画像をブロック要素として扱う */
}

.username {
    display: inline-block;
    font-size: 25px; /* ユーザー名のフォントサイズを調整 */
    font-weight: bold; /* ユーザー名の太字設定 */
}

.yokonarabi {
  display: flex;
  align-items: center; /* 垂直方向の中央揃え */
}

.category
 {
  margin-right: 10px; /* 要素間のスペースを調整 */
  
  border-bottom: 3px dashed #4d9bc1; /* 下線の高さを調整 */
  padding-bottom: 5px; /* 下線とテキストの間隔を調整 */
}










.paginationWrap {
    display: flex;
    justify-content: center;
    margin-top: 38px;
    margin-bottom: 40px;
}

.paginationWrap ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.paginationWrap ul.pagination li {
    display: inline;
    margin-right: 4px;
}

.paginationWrap ul.pagination li a {
    color: #2f3859;
    padding: 8px 14px;
    text-decoration: none;
}

.paginationWrap ul.pagination .active {
    background-color: #4b90f6;
    color: white;
    border-radius: 40px;
    width: 38px;
    height: 38px;
}

.paginationWrap ul.pagination li a:hover:not(.active) {
    background-color: #e1e7f0;
    border-radius: 40px;
}

.img {
    background-size: cover;
    background-position: center;
}

.comment {
    
    position: relative;
    width: 400px; /* 幅を指定 */
    margin-top: 5px;
    font-family: -apple-system, "Segoe UI", "Helvetica Neue", "Hiragino Kaku Gothic ProN", メイリオ, meiryo, sans-serif;
} 


.btn01{
    margin-top: 5px;
    margin-bottom: 20px;
    border-top: 1px solid #ddd; /* 上側の境界線 */
    background: linear-gradient(to right, #FFFFCC,#006633 ); /* グラデーション */
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); /* 影 */
    position: relative; /* 相対的な位置指定 */
    padding: 20px; /* 内側の余白 */
}

.btn01 a {
	background-color: #ceb849;
	border: 1px solid #ceb849;
	border-radius: 35px;
	
}

.btn01 a:hover {
	background-color: #B99b00;
	border: 1px solid #333;
}

.btn01 a::before {
	content: '';
	position: absolute;
	top: calc(50% - 5px);
	right: -35px;
	transform: rotate(30deg);
	width: 12px;
	height: 1px;
	background-color: #333;
}

.btn01 a::after {
	content: '';
	position: absolute;
	top: 50%;
	right: -35px;
	transform: translateY(-50%);
	width: 70px;
	height: 1px;
	background-color: #333;
}



.separator {
    
}