.body {
    background-image: url('/tabino-to/public/b043805902fc02b383500cdbb75a403a_t.jpeg'); /* 画像のパスを適切なものに置き換えてください */
    background-size: cover; /* 画像をウィンドウ全体に広げる */
    background-position: center; /* 画像を中央に配置 */
}


