.parent-container {
    display: flex;
    align-items: center; /* 垂直方向に中央揃え */
}

.image {
    width: 30px; /* 画像の幅を指定 */
    height: 30px; /* 画像の高さを指定 */
    overflow: hidden; /* 画像の外部をクリップして円形にする */
    border-radius: 50%; /* 画像を円形にする */
}

.image img {
    width: 100%; /* 画像を親要素に合わせる */
    height: 100%; /* 高さも親要素に合わせる */
    object-fit: cover; /* 画像を親要素に収まるようにオブジェクトを調整 */
    object-position: center; /* 画像の中央に配置 */
    display: block; /* 画像をブロック要素として扱う */
}

.username {
    display: inline-block;
    font-size: 25px; /* ユーザー名のフォントサイズを調整 */
    font-weight: bold; /* ユーザー名の太字設定 */
}

.comment_image {
    width: 30px; /* 画像の幅を指定 */
    height: 30px; /* 画像の高さを指定 */
    overflow: hidden; /* 画像の外部をクリップして円形にする */
    border-radius: 50%; /* 画像を円形にする */
}

.comment_image img {
    width: 100%; /* 画像を親要素に合わせる */
    height: 100%; /* 高さも親要素に合わせる */
    object-fit: cover; /* 画像を親要素に収まるようにオブジェクトを調整 */
    object-position: center; /* 画像の中央に配置 */
    display: block; /* 画像をブロック要素として扱う */
}

.comment_name {
    display: inline-block;
    font-size: 25px; /* ユーザー名のフォントサイズを調整 */
    font-weight: bold; /* ユーザー名の太字設定 */
}
.comment-user {
    display: flex;
    align-items: center; /* 垂直方向に中央揃え */
}

.comment {
     display: flex;
    align-items: center; /* 垂直方向に中央揃え */
}

.comment_button {
    border: 1px solid black; /* 黒い実線 */
}